<% include ../partials/header.ejs %>






<div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Posts with the tag <%=name %></h1>
             <p>This Site is currently in AlphaBuild v.1.2.9</p>
         </div>
     </header>
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
       
          <% for(x=0;x<found.length;x++){ %>

               <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= found[x].image %>">
                   <div class="caption">
                       <h4><%= found[x].name %></h4>
                       <h4><strong>Tags</strong></h4>
                       <% for(i=0;i<found[x].tags.length;i++){ %>
                         <a href="/index/tags/<%= found[x].tags[i] %>"><%= found[x].tags[i] %></a> 
                   
                   
                        <% } %> 
                    </div>
                   <p>
                       <a href="/post/<%= found[x]._id %>" class="btn btn-primary">more info</a> 
                   </p>
                </div>
            </div>
          <% } %>
</div>

<% include ../partials/footer.ejs %>
